*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*.contenedor{
	display: table;
}

.contenido{
	border: thick solid #000;
	overflow: hidden;
	height: 50%;
	background: #dc2543;
	display: table-row;
}


.izquierda{
	float: left;
	width: 40%;
	border: solid #000;
	display: table-cell;
}

.derecha{
	float: right;
	width: 40%;
	border: solid #000;
	display: table-cell;
}*/

/*============================================================================*/
body{
	font-family: Arial, helvetiva, sans-serif;
}

/* Aqui tengo mis estilos generales */

.contenedor-imagen{
	display: flex;
}

.contenedor-imagen img{
	width: 100%;
}

header{
	background: #1f1f1f;
	padding: 10px 50px;
}

#logo{
	width: 50px;
}

#logo img{
	border-radius: 100%;
	border:3px solid #376;
}

/* Estilos del hero-seccion */

#Seccion{
	position: relative;
}

#Seccion #computadora{
	display: inline-block;
	width: 100%;
}

#Seccion .informacion-contenedor{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	display: flex;
	width: 100%;
	color: #fff;
	padding: 0 70px;
}

#Seccion .informacion-contenedor{
	width: 200px;

}
#Seccion .informacion-contenedor #foto img{
	border-radius: 100%;
	width: 250px;
}

#Seccion .informacion-contenedor .informacion{
	margin-left: 20px;
	font-weight: bold;
}

#Seccion .informacion-contenedor .informacion span{
	display: inline-block;
	color: #b5b5b5;
	margin-bottom: 70px;
}

/* Estilos de main */

main{
	padding: 100px;
}


main .iconos-Sociales{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	list-style: none;
	
}

main .iconos-Sociales li{
/*	margin-left: 8px;*/
display: flex;
gap: 25px;
width: 50px auto;
padding: 50px;
}

main .iconos-Sociales .iconos-Sociales{
	display: flex;
	justify-content: center;
	align-items: center;
	background: red;
	padding: 15px;
	margin-lef: 5px;
	width: 100%;
	height: 100%;
}

main .iconos-Sociales li a{
/*	margin-left: 8px;*/

/*padding: 30px;*/
font-size: 50px;
gap: 100px;
transition: all ease 300ms;
}

.likelink{
	color: #1da1f2 ;
}

.facebook{
	color: #0077b0;
}

.instagram{
	color: #C13584;
}
.youtube{
	color: #f70000;
}
.githab{
	color: #23272d;
}

main .iconos-Sociales li a:hover{
	transform: scale(1.7);	
}
